
$gradient-1: #8b0202;
$gradient-2: #f04d4d;

$background-color: #1e1f20;
$section-bg-color: #252729;
$footer-background-color: #121314;

$primary-text-color: #ffffff;
$secondary-text-color: #afb0b1;

$sa-black: #0000;
$iona-maroon: #800c25;
$iona-gold: #f0ab00;
$binghamton-green:#005A43;
$binghamton-white:#ffffff;